<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inexture.alcustomui">

    <!--Added 4 AppLozic-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--AppLozic related services-->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <service android:name="com.applozic.mobicomkit.api.conversation.MessageIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service android:name="com.applozic.mobicomkit.api.conversation.ApplozicIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name="com.applozic.mobicomkit.api.conversation.ApplozicMqttIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service android:name="com.applozic.mobicomkit.api.people.UserIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <service android:name="com.applozic.mobicomkit.api.conversation.ConversationIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <!--AppLozic related receivers-->
        <receiver android:name="com.applozic.mobicomkit.broadcast.TimeChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.applozic.mobicomkit.broadcast.ConnectivityReceiver"
            android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.applozic.application.key"
            android:value="d49c0963288af20aba61ec7399e01d55" />
        <meta-data android:name="main_folder_name"
            android:value="AlUserDemo" /> <!-- Attachment Folder Name -->

    </application>

</manifest>